# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Mac Specific
.DS_Store
.com.apple.timemachine.supported

# XCode Specific
*.1

# Emacs Specific
\#*\#
*~

GestionVoitures/GestionVoitures.1
